@import "tailwindcss";

@theme {
  --color-white: var(--white);
  --color-black: var(--black);
  --color-primary: var(--primary);

  --color-error: oklch(0.657 0.183 25);
  --color-warning: oklch(0.788 0.177 75);
  --color-success: oklch(0.623 0.178 145);
  --color-info: oklch(0.629 0.187 252);

  --font-zuume: var(--font-zuume);
}

@layer base {
  :root {
    --white: #fcfcfb;
    --primary: #fff;
    --black: #000;
  }

  html,
  body {
    overscroll-behavior: none;
    color-scheme: dark;
  }
}

* {
  -ms-overflow-style: none;
  box-sizing: border-box;
  scrollbar-width: none;
  outline: 0;
}

*::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skeleton-block,
  .skeleton-block-soft {
    position: relative;
    overflow: hidden;
  }

  .skeleton-block {
    background-color: rgb(252 252 251 / 0.05);
  }

  .skeleton-block-soft {
    background-color: rgb(252 252 251 / 0.05);
  }
}
